@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --ASSIGNEE: yellow;
  /* --BGCOLOR: #0f172a; */
  --BGCOLOR: #0c160d;
  --ERRORBGCOLOR: firebrick;
  --BORDER-COLOR: #fff;
  --COLOR: #fff;
  --ERROR: #fff;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --LINK-USERCOLOR: blue;
  --LINK-USERHOVER: hsla(240, 90%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #fff;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #f00;
  --SELECT-INVALID: #f00;
  --ICON-BUTTON-COMPLETED-BGCOLOR: firebrick;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  justify-content: center;
  background-color: var(--ERRORBGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
  height: max-content;
  text-align: center;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  background-image: url("./img/markus-spiske-iar-afB0QQw-unsplash.jpg");
  background-size: cover;
  background-position: top right;
  background-blend-mode: soft-light;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: center; */
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__addr {
  margin-top: 1em;
}

.login {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.welcome a::before {
  content: "➜ ";
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__container--small {
  /* max-width: 800px; */
  max-width: auto;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-container {
  display: flex;
  justify-content: center;
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 0.7rem;
  width: 100%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
  justify-content: center;
}

.table__userlisting {
  font-size: 1.5rem;
  font-weight: bolder;
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: auto 200px auto;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
  justify-content: center;
}

.table__userlisting a:any-link {
  color: var(--LINK-USERCOLOR);
}

.table__userlisting a:hover {
  color: var(--LINK-USERHOVER);
}

.table__userbugs {
  font-size: 1.5rem;
  font-weight: bolder;
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 250px auto auto;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
  justify-content: center;
}

.table__userbugs a:any-link {
  color: var(--LINK-USERCOLOR);
}

.table__userbugs a:hover {
  color: var(--LINK-USERHOVER);
}

.table__applist {
  font-size: 1.5rem;
  font-weight: bolder;
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: auto;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
  justify-content: center;
}

.table__applist a:any-link {
  color: var(--LINK-USERCOLOR);
}

.table__applist a:hover {
  color: var(--LINK-USERHOVER);
}

.table__appbuglist {
  font-size: 1.5rem;
  font-weight: bolder;
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: auto 250px auto;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
  justify-content: center;
}

.table__appbuglist a:any-link {
  color: var(--LINK-USERCOLOR);
}

.table__appbuglist a:hover {
  color: var(--LINK-USERHOVER);
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: center;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  /* display: grid; */
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
  color: firebrick;
}

/* ||  USERS */

.user__fullname,
.user__email,
.user__roles {
  display: none;
}

/* ||  TICKET */

.ticket__nature,
.ticket__created,
.ticket__updated,
.ticket__username,
.ticket__author,
.ticket__assignee,
.ticket__priority,
.ticket__severity {
  display: none;
}

.ticket__title {
  font-weight: bold;
}

.ticket__status {
  font-weight: bold;
}

.ticket__status--open {
  color: var(--STATUS-OPEN);
}

.ticket__status--completed {
  color: var(--STATUS-COMPLETE);
}

/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  /* max-width: 800px; */
  width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form h3 {
  color: var(--ASSIGNEE);
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25em;
  border-radius: 15px;
}

.form__select--incomplete {
  border: 1px solid var(--SELECT-INVALID);
  outline: 1px solid var(--SELECT-INVALID);
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.author {
  background-color: rgb(144, 164, 184);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .dash-header__title {
    font-size: 1.5rem;
  }

  .icon-button {
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
  }

  .table__userlisting {
    font-size: 0.85rem;
    grid-template-columns: auto auto auto;
  }

  .table__applist {
    font-size: 0.85rem;
  }

  .table__userbugs {
    font-size: 0.85rem;
  }

  .form {
    width: 300px;
  }

  .form__row {
    flex-flow: row wrap;
  }

  .form__divider {
    flex-flow: column wrap;
  }

  .form h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--tickets {
    grid-template-columns: repeat(4, 1fr) 2fr repeat(4, auto);
  }

  .ticket__created,
  .ticket__updated,
  .ticket__username,
  .ticket__author,
  .ticket__assignee,
  .ticket__priority,
  .ticket__severity,
  .ticket__nature {
    display: block;
  }

  .table__userbugs {
    grid-template-columns: auto auto auto auto auto auto;
  }

  .table__appbuglist {
    grid-template-columns: auto auto auto auto auto auto auto;
  }

  .table--users {
    /* grid-template-columns: repeat(2, auto) 1fr repeat(2, 1fr); */
    grid-template-columns: auto auto auto auto auto auto;
  }
  .user__fullname,
  .user__email,
  .user__roles {
    display: block;
  }

  .form__action-buttons {
    position: static;
  }
}
